*.pyc
output_dump_repo/corpus_filtered.xml
output_dump_repo/dump.xml
output_dump_repo/corpus.xml
output_dump_repo/corpus_talismane.xml
output_dump_repo/corpus_antconc.txt
output_dump_repo/test_txm_from_corpus_antconc/corpus_antconc.txt
output_dump_repo/test_txm_from_corpus_antconc/import.xml
results/requests_antconc/results_double_point.zip
output_dump_repo/only_one.xml
corpus/corpus_big/corpus_big.xml
corpus/corpus_1dblcolno0inf30/corpus_1dblcolno0inf30.xml
1dblcolno0inf30.xlsx
matrix_1dblcolno0inf30.xlsx
output_dump_repo/corpus_domain_shs.xml
output_dump_repo/corpus_domain_shs.zip
1dblcolno0inf30old.xlsx
matrix_1dblcolno0inf30old.xlsx
corpus/corpus_1dblpt_sup0_inf30/corpus_1dblpt_sup0_inf30.xml
output_dump_repo/corpus_1dblpt.xml
*.class
master2/exoglawi/glawiWork_1.xml
master2/exodata/data/backup.bin
