*.pyc
output_dump_repo/corpus_filtered.xml
output_dump_repo/dump.xml
output_dump_repo/corpus.xml
output_dump_repo/corpus_talismane.xml
output_dump_repo/corpus_antconc.txt
output_dump_repo/test_txm_from_corpus_antconc/corpus_antconc.txt
output_dump_repo/test_txm_from_corpus_antconc/import.xml
results/requests_antconc/results_double_point.zip
output_dump_repo/only_one.xml